[Desktop Entry]
Type=Application
Name=tdv
GenericName=Translation dictionary viewer
Icon=tdv
Exec=tdv %F
StartupNotify=true
MimeType=application/x-stardict-ifo;
Categories=Office;Dictionary;GTK;
